.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;

}
*{
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}
.m0p0{
  margin: 0;
  padding: 0;
}
.Chat-layout{
  max-width: 30%;
  background-color: aqua;
}
.Msg-structure{
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0 3%;
  max-width: 100%;
  height: auto;
  color: white;

}
.container-contain{
  height: auto;
  width: 100%;
  overflow-x: hidden;
}
.msges{
  width: 100%;
  height: 65.6vh;
  overflow-y: scroll;
}
.rooms-selecter{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.hidden-mist{
  padding-top: 15px;
  /* background-color: #1a237e; */
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.useForm-FormatedMsg{
  background-color: #1a237e;
    /* color: #1a237e; */
    width: auto;
    margin: 0.1%;
    max-width: 50%;
    padding-bottom: 0.5%;
    min-width: 20%;
    border: 1px;
    
}
.signIn{
  width: 35%;
    margin: auto;
    height: 100vh;
    align-content: center;
    display: grid;
    background-color: aliceblue;
}
#root{
  background-color: aliceblue;
}
.useForm-container{
  display: flex;

  align-items: center;
}
.video-container{
  display: flex;
}
.msg-time{
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 54%;
  color: white;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.left{
  float:left;
  clear:both
}
.right{
  float:right;
  clear:both;
  flex-direction: row-reverse;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1a237e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.commcard{
  width: 23vw;
  display: flex;
  justify-content: space-between;
  background-color: #0d47a1;
  color:white
}
.App-link {
  color: #1a237e;
}
.liked-users{
  color: #0d47a1;
  text-align: left;
  background-color: #fbfcff;
  max-height: 25vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
